@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  text-align: center;
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

.container {
  border: 1px solid black;
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
}

h1 {
font-size: 92px;
max-width: 800px;
margin: 50px auto;
color: white;
font-weight: 900;
border: 1px solid white;
border-radius: 16px;
}