h3 {
    font-size: 50px;
}

i {
    font-size: 24px;
}

.btn {
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-weight: 800;
    font-size: 18px;
    padding: 15px;
}

.btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.QuoteBody {
    margin-bottom: 50px;
}